
<div class="row client-head" >

    <div class=" col-md-12 bg-clients">
<!-- profile view  -->

      <div class="row">
        <div class="col-md-12 col-sm-12 profile-container"> 
          <div class="row" style="padding: 22px;">
            <div  class="col-md-2 col-sm-12" ><img src="assets/img/profile-pic.png" alt=""></div>
          <div class="col-md-10 col-sm-12">
            <div class="row profile-heading" style="padding-top: 20px;">
              <div class="col-md-5 col-sm-4 profile-col" >
              <p>Name</p>
              <span>David Donegan</span>
              </div>
              <div class="col-md-5 col-sm-4 profile-col">
                <p>Email</p>
                <span>daviddonegan@gmail.com</span>
              </div>
              <div class="col-md-2 col-sm-4">
              <p>Phone</p>
              <span>0833097183</span>
              </div>
            </div>
            <div class="row profile-heading" style="padding-top: 25px;">
              <div class="col-md-5 col-sm-4 profile-col" >
              <p>City</p>
              <span>Texas</span>
              </div>
              <div class="col-md-5 col-sm-4 profile-col">
                <p>State</p>
                <span>Dallas</span>
              </div>
              <div class="col-md-2 col-sm-4" >
              <p>Next Appoinment</p>
              <span>26-11-2022</span>
              </div>
            </div>


          </div>

          </div>
        </div>
      
      </div>

      <!-- profile end -->



    
        <div class="table-box"> 
           <div class="row">
            <div class="col-md-12   col-sm-12 clients-list" >
                <p class="table-heading">Artist history</p>
       
              <button class="btn btn-default add-btn">Download PDF</button>
            </div>
           </div> 
           
           <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12 listing-table">
             <table id="client-table">
                 <thead>
                   <tr>
                     <th >First Name <img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                     <th >Last Name <img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                  <th >Email <img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                   <th>Contact Number<img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                 </tr>
                 </thead>

                 <tbody>
                   <tr>
                     
                       <td><span>Liza</span></td>
                       <td><span>King</span></td>
                       <td><span> lizaking@gmail.com</span></td>
                        <td><span class="cell-no">123-456-7890</span></td>

                   </tr>
                   <tr>
                        <td><span>Liza</span></td>
                       <td><span>King</span></td>
                       <td><span> lizaking@gmail.com</span></td>
                        <td><span class="cell-no">123-456-7890</span></td>
                   </tr>

                   <tr>
                         <td><span>Liza</span></td>
                       <td><span>King</span></td>
                       <td><span> lizaking@gmail.com</span></td>
                      <td><span class="cell-no">123-456-7890</span></td>
                   </tr>

                   <tr>
                       <td><span>Liza</span></td>
                       <td><span>King</span></td>
                       <td><span> lizaking@gmail.com</span></td>
                      <td><span class="cell-no">123-456-7890</span></td>
                   </tr>

                   <tr>
                       <td><span>Liza</span></td>
                       <td><span>King</span></td>
                       <td><span> lizaking@gmail.com</span></td>
                       <td><span class="cell-no">123-456-7890</span></td>
                   </tr>

                   <tr>
                     <td><span>Liza</span></td>
                       <td><span>King</span></td>
                       <td><span> lizaking@gmail.com</span></td>
                       <td><span class="cell-no">123-456-7890</span></td>
                   </tr>

               </tbody>



             </table>
         </div>
       </div>
        
        </div>
    </div>
 
</div>




