<section class="templates-area">
    <div class="row">
        <div class="col-md-4  col-sm-6">
            <div class="templates-item">
                <div class="temp-title">
                    <span>Consent form</span>
                </div>
                <div class="temp-bodys">
                    <img src="./assets/img/template1.png" class="img-fluid" alt="">
                    <ul>
                        <li><a href="#" class="tem-active">{{translation[0]}}</a></li>
                        <li><a (click)="  opendeleteModel()">{{translation[1]}}</a></li>
                        <li><a href="#">{{translation[2]}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="templates-item">
                <div class="temp-title">
                    <span>Template 2</span>
                </div>
                <div class="temp-bodys">
                    <img src="./assets/img/template2.png" class="img-fluid" alt="">
                    <ul>
                        <li><a href="#" class="tem-active">{{translation[0]}}</a></li>
                        <li><a (click)="  opendeleteModel()">{{translation[1]}}</a></li>
                        <li><a href="#">{{translation[2]}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="templates-item">
                <div class="temp-title">
                    <span>Template 3</span>
                </div>
                <div class="temp-bodys">
                    <img src="./assets/img/template3.png" class="img-fluid" alt="">
                    <ul>
                        <li><a href="#" class="tem-active">{{translation[0]}}</a></li>
                        <li><a (click)="  opendeleteModel()">{{translation[1]}}</a></li>
                        <li><a href="#">{{translation[2]}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

