.sidebar-background{
  background-image: url(../../../assets/img/sidebar-bg.png);
  background-size: 78vh;
  background-repeat: no-repeat;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: .5;
}
