<div class="billing-area-start billing-bg">
    
        <div class="row pos-table">
            <div class="col-md-8 ">
                <div class="billing-Order-history">
                    <h4>{{translation?.listing_title}}</h4>
                    <div class="order-table">
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th>{{translation?.grid_columns[0]}} <img class="sort" src="assets/img/up-dwn.png" alt=""></th>
                                    <th>{{translation?.grid_columns[1]}} <img class="sort"  src="assets/img/up-dwn.png" alt=""></th>
                                    <th>{{translation?.grid_columns[2]}}</th>
                                </tr>
                            </thead>


                            <tbody>
                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Pro Annual</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>
                                <tr>
                                    <td><span>22-10-2022</span></td>
                                    <td><span>Pro Portfolio</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">Download</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>

                                <tr>
                                    <td><span>18-11-2022</span></td>
                                    <td><span>Sponsored Post</span></td>
                                    <td><span><a href="#">{{translation?.btn_download}}</a></span></td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Your-Plan-right">
                    <h6>{{translation?.plan_card.title}}</h6>

                    <h3>{{translation?.plan_card.sub_title}}</h3>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="review-txt">{{translation?.plan_card.description}} 25-01-2023 </p>
                       <a class="cancel-sub" href="#"> {{translation?.plan_card.btn_cancel}}</a>
                    </div>
                </div>

                <div class="Payment-Method-left">
                    <h6> {{translation?.payment_card.title}}</h6>
                    <p>{{translation?.payment_card.description}}</p>

                    <div style="display:flex;justify-content: space-between;">
                        <div class="visa-card-det">
                            <span><img src="assets/img/visa-card.png" class="img-fluid" alt=""></span>
                          
                        </div>
                        <div class="visa-txt">  <span>
                            <p style="margin: 0;">Visa ending in</p>
                            <span class="visa-end">2255</span>
                        </span></div>
                        <div><a class="remove-btn" href="#">{{translation?.payment_card.btn_remove}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
