<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">

<!----------------------------------------------    the 4 data cards start here ------------------------------>

                        <div class="row head-cards">
                            <div class="col-md-3 co-sm-6">
                                <div class="card-styl">
                                    <p class="head-txt">Total Clients</p>
                                    <p class="no-tag">45</p>
                                </div>
                            </div>
                            <div class="col-md-3 co-sm-6">
                                <div class="card-styl">
                                    <p class="head-txt">Total Tattoos</p>
                                    <p class="no-tag">30</p>
                                </div>
                            </div>
                            <div class="col-md-3 co-sm-6">
                                <div class="card-styl">
                                    <p class="head-txt">Cancellations</p>
                                    <p class="no-tag">05</p>
                                </div>
                            </div>
                            <div class="col-md-3 co-sm-6">
                                <div class="card-styl">
                                    <p class="head-txt">Total Earnings</p>
                                    <p class="no-tag">$30001</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!----------------------------------------------------  end of 4 data cards -------------------------------------------------------->

<!----------------------------------------------------  bar chart for number of hours tattooed starts here ------------------------->
                <div class="row">
                    <div class="col-md-12 bar-chart">
                        <div class="row">
                            <div class="col-md-12"
                                 style="display: flex; justify-content: space-between;  padding: 20px;">
                                <div>
                                    <h4>Hours Tattooed</h4></div>
                                <div class="head-btn" style="display: flex;">
                                    <button class="btn btn-primary month-btn">Monthly</button>
                                    <button class="btn btn-primary yearly-btn">Yearly</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row billing-Order-history" style=" padding-top: 35px;">
                    <div class="col-md-12">

<!------------------------------------------ beginning of artist statistics starts here ----------------------------------->

                        <div>
                            <h4>Artist Stats</h4>
                            <div class="order-table">
                                <table id="myTable">
                                    <thead>
                                    <tr>
                                        <th>Artists</th>
                                        <th>Started</th>
                                        <th>Hours</th>
                                        <th>No Tat</th>
                                        <th>Earned</th>
                                        <th>View</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of artistData">
                                        <td><span>{{item.artist}}</span></td>
                                        <td><span>{{item.started}} </span></td>
                                        <td><span> {{item.hours}}</span></td>
                                        <td><span> {{item.notat}}</span></td>
                                        <td><span> {{item.earned}}</span></td>

                                        <td><span class="viewMore" routerLink="/artist/artist-detail"><img
                                                src="assets/img/eye.png" alt=""></span></td>

<!------------------------------------------ artist history needs to be a popup modal here -------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!---------------------------------------------------- right section -------------------------------------------------------------->

<!---------------------------------------------------- Client behaviour area chart starts here ------------------------------------->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 chart-bg">
                        <div class="row">
                            <div class="col-md-12"
                                 style="display: flex; justify-content: space-between;  padding: 20px;">
                                <div>
                                    <h4>Client Behaviour</h4></div>
                                <div class="head-btn" style="display:flex;">
                                    <button class="btn btn-primary month-btn">Monthly</button>
                                    <button class="btn btn-primary yearly-btn">Yearly</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

<!----------------------------------------------------- end of client behaviour area chart ------------------------------>

<!----------------------------------------------------- start of pic chart for customers and returning customers -------->
                <div class="row" style="padding-top: 12px;">
                    <div class="col-md-12 chart-bg">
                        <div class="row">
                            <div class="col-md-12"
                                 style="display: flex; justify-content: space-between;  padding: 20px;">
                                <div>
                                    <h4>Returning Clients</h4></div>
                                <div class="head-btn" style="display:flex;">
                                    <button class="btn btn-primary month-btn">Monthly</button>
                                    <button class="btn btn-primary yearly-btn">Yearly</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

