.card-styl{
  background: #434343 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 90px;
  display: block;
  padding: 10px;
  width: 100%;
}
.row{
  margin: 0;
}
.col-md-12{
  padding-left: 0;
}
.col-md-3{
  padding-right: 0;
}
.head-txt{
  font: normal normal normal 14px/22px Nunito Sans;
  letter-spacing: 0.16px;
  color: #FFFFFF;
  opacity: 1;
}
.no-tag{
  font: normal normal bold 24px/41px Nunito Sans;
  letter-spacing: 0px;
  color: #78EF30;
  text-transform: capitalize;
  opacity: 1;

}
.bar-chart{
  background: #302E2E 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  position: relative;
  top: 20px;
  overflow: scroll;
  overflow-y: hidden;
}

.chart-bg{
  background: #302E2E 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  height: 365px;
  margin-top: 20px;
}


// table styl
.billing-Order-history {
  background-color: #302E2E;
  padding: 32px 24px;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  top: 30px;
}
.billing-Order-history h4 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 28px;
}
.order-table {
  height: 300px !important;
  overflow-y: scroll;
}
.order-table th {

  color: white;
  font-size: 12px;
  font-weight: 400;
  color: #78EF30;
  padding: 10px 30px;
}
.order-table table tr td {
  padding: 0;
}
.order-table table tr td:first-child span {
  border-radius: 10px 0px 0px 10px;
}
.order-table table tr td:nth-child(3) span {
  padding: 13px 30px !important;
}
.order-table table tr td:last-child span {
  border-radius: 0px 10px 10px 0px;
}
.order-table table tr td span {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: block;
  width: 100%;
  margin: 2px;
  padding: 13px 19px;
  background-color: #434343;
}
.bar-chart h4{
  font: normal normal bold 18px/24px Nunito Sans;
  letter-spacing: 0.18px;
  color: #78EF30;
  opacity: 1;
}
.month-btn{
  background: #78EF30 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #78EF30;
  border-radius: 20px;
  opacity: 1;
  font: normal normal 12px/16px Nunito Sans;
  letter-spacing: 0.14px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  border: unset;
  height: 30px;
}
.yearly-btn{
  background:gray 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  font: normal normal 12px/16px Nunito Sans;
  letter-spacing: 0.14px;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
  border: unset;
  height: 30px;
  position: relative;
  left: 6px;
}


.chart-bg h4{
  font: normal normal bold 18px/24px Nunito Sans;
  letter-spacing: 0.18px;
  color: #78EF30;
  opacity: 1;
}
.month-btn{
  background: #78EF30 0% 0% no-repeat padding-box;

  border-radius: 20px;
  opacity: 1;
  font: normal normal 12px/16px Nunito Sans;
  letter-spacing: 0.14px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  border: unset;
  height: 30px;
}
.circle-chart{
  height: 220px !important;
  width: 220px !important;
  position: relative;
  bottom: 61px;
  left: 50px;
}

.apexcharts-menu-icon{
  display: none !important;
}




/*mobile views*/
@media screen and (max-device-width: 640px) {

  .head-cards{display: grid;
    gap: 10px;}

}
.viewMore{
  cursor: pointer;
}
