
<div class="row client-head" >

     <div class=" col-md-12 bg-clients">
 <!-- profile view  -->
 
       <div class="row">
         <div class="col-md-12 col-sm-12 profile-container"> 
           <div class="row" style="padding: 22px;">
             <div  class="col-md-2 col-sm-12" ><img src="assets/img/profile-pic.png" alt=""></div>
           <div class="col-md-10 col-sm-12">
             <div class="row profile-heading" style="padding-top: 20px;">
               <div class="col-md-5 col-sm-4 profile-col" >
               <p>{{translation?.card_labels[0]}}</p>
               <span>David Donegan</span>
               </div>
               <div class="col-md-5 col-sm-4 profile-col">
                 <p>{{translation?.card_labels[1]}}</p>
                 <span>daviddonegan@gmail.com</span>
               </div>
               <div class="col-md-2 col-sm-4">
               <p>{{translation?.card_labels[2]}}</p>
               <span>0833097183</span>
               </div>
             </div>
             <div class="row profile-heading" style="padding-top: 25px;">
               <div class="col-md-5 col-sm-4 profile-col" >
               <p>{{translation?.card_labels[3]}}</p>
               <span>Texas</span>
               </div>
               <div class="col-md-5 col-sm-4 profile-col">
                 <p>{{translation?.card_labels[4]}}</p>
                 <span>Dallas</span>
               </div>
               <div class="col-md-2 col-sm-4" >
               <p>{{translation?.card_labels[5]}}</p>
               <span>26-11-2022</span>
               </div>
             </div>
 
 
           </div>
 
           </div>
         </div>
       
       </div>
 
       <!-- profile end -->
 
 
 
     
         <div class="table-box"> 
            <div class="row">
             <div class="col-md-12   col-sm-12 clients-list" >
                 <p class="table-heading">{{translation?.client_history.title}}</p>
        
               <button class="btn btn-default add-btn">{{translation?.client_history.btn_download}}</button>
             </div>
            </div> 
            
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 listing-table">
              <table id="client-table">
                  <thead>
                    <tr>
                      <th >{{translation?.client_history.grid_columns[0]}} <img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                      <th >{{translation?.client_history.grid_columns[1]}} <img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                   <th >{{translation?.client_history.grid_columns[2]}} <img class="up-down" src="assets/img/up-dwn.png" alt=""></th>
                      <th>{{translation?.client_history.grid_columns[3]}}</th>
                  </tr>
                  </thead>
 
                  <tbody>
                  <tr  *ngFor="let item of artist_detail">


                  <td><span>{{item.app_date}}</span></td>
                        <td><span>{{item.app_date}}</span></td>
                        <td><span> {{item.app_date}}</span></td>
                         <td><span class="cell-no">{{item.app_date}}</span></td>

                    </tr>
                </tbody>
 
 
 
              </table>
          </div>
        </div>
         
         </div>
     </div>
  
 </div>
 
 
 
