<div class="row appoint-head">
    <div class="col-md-12 bg-appoint">
      <div class="row profile-container">
          <div class="col-md-12 col-sm-12 app-detail-header">
           
          <div>
                <h1 class="head-txt">{{translation?.title}}</h1>
              </div>

              <div style="display: flex;   gap:60px;">
              <div class="form-check-inline">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="" checked>{{translation?.app_status[0]}}
                  </label>
              </div>
              <div class="form-check-inline">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="">{{translation?.app_status[1]}}
                  </label>
              </div>
              <button class="btn btn-default add-btn">{{translation?.btn_reschedule}}</button>
            </div>
          </div>
         
        <div class="col-md-12 col-sm-12">
          <div class="row" style="padding: 22px;">
            <div  class="col-md-2 col-sm-12" ><img src="assets/img/appoint-profile.png" alt=""></div>
          <div class="col-md-10 col-sm-12">
         
            <div class="row profile-heading" style="padding-top: 20px;">
              <div class="col-md-5 col-sm-4 profile-col" >
              <p>{{translation?.app_labels[0]}}</p>
              <span>David Donegan</span>
              </div>
              <div class="col-md-5 col-sm-4 profile-col">
                <p>{{translation?.app_labels[1]}}</p>
                <span>sarmad</span>
              </div>
              <div class="col-md-2 col-sm-4">
              <p>{{translation?.app_labels[2]}}</p>
              <span>$250</span>
              </div>
            </div>
            <div class="row profile-heading" style="padding-top: 25px;">
              <div class="col-md-5 col-sm-4 profile-col" >
              <p>{{translation?.app_labels[3]}}</p>
              <span>30-10-2022</span>
              </div>
              <div class="col-md-5 col-sm-4 profile-col">
                <p>{{translation?.app_labels[4]}}</p>
                <span>abx@gmail.com</span>
              </div>
              <div class="col-md-2 col-sm-4 app-images" >
              <p>{{translation?.app_labels[5]}}</p>
              <div class="img-chart">
                <img src="assets/img/template1.png"/>
                <img src="assets/img/template2.png"/>
                <img src="assets/img/template2.png"/>
              </div>
             


              </div>
            </div>
            <div class="row profile-heading" style="padding-top: 25px;">
                <div class="col-md-5 col-sm-4 profile-col" >
                <p>{{translation?.app_labels[6]}}</p>
                <span>16:30 |3hrs 15 min</span>
                </div>
                <div class="col-md-5 col-sm-4 profile-col">
                  <p>{{translation?.app_labels[7]}}</p>
                  <span>Lower back</span>
                </div>
                <div class="col-md-2 col-sm-4 app-images" >
                  <div class="img-chart">
                    <img src="assets/img/template2.png"/>
                    <img src="assets/img/template1.png"/>
                    <img src="assets/img/template2.png"/>
                  </div>
                </div>
              </div>


          </div>

          </div>
        </div>
      
      </div>






    </div>
</div>
