.schedue-bg{
    background-color: #000;
    min-height: 100vh;
    padding: 45px;
}
.calander-bg{
    background: #302E2E 0% 0% no-repeat padding-box;
border-radius: 15px;
opacity: 1;
padding: 22px;

}
.row{
    margin: 0;
}