.templates-area {
    min-height: calc(100% - 127px);
    padding: 56.5px 30px;
    background-color: #000;
}
.row{
    margin: 0;
 }
.temp-title span {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    display: block;
    padding: 20px 22px;
    background-color: #78EF30;
}
.temp-bodys {
    padding: 7px 0px;
}
.templates-item {
    background-color: #302E2E;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}
.temp-bodys ul {
    display: flex;
    margin-top: 5px;
    list-style: none;
    margin-bottom: 24px;
}
.temp-bodys ul li a {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background-color: #737373;
    padding: 5px 18px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 12px;
    transition: .2s;
}
.tem-active {
    background-color: #78EF30 !important;
    box-shadow: #78ef30 -1px 0px 15px 5px;
    color: #000 !important;
}
img{
    width: 100%;
}
