.artists-head{
  background-color: #000;
  min-height: calc(100% - 123px);
}
.row{
  margin: 0;
}

.bg-clients{
  padding: 56.5px 30px;

}

.clients-list{
  display: flex;
  justify-content: space-between;
}

.profile{
  width: 14px;
}

.eye-icon{
  width: 12px;
}