<div class="row client-head" >
    <div class=" col-md-12 bg-clients">
        <!-- profile view  -->
        <div class="row">
            <div class="col-md-12 col-sm-12 profile-container">
                <div class="row" style="padding: 22px;">
                    <div  class="col-md-2 col-sm-12" ><img src="assets/img/profile-info.png" alt=""></div>
                    <div class="col-md-10 col-sm-12">
                        <div class="row profile-heading" style="padding-top: 55px;">
                            <div class="col-md-5 col-sm-4 profile-col" >
                                <p>{{translation[0]}}</p>
                                <span>{{translation[1]}}</span>
                            </div>
                            <div class="col-md-5 col-sm-4 profile-col">
                                <p>{{translation[2]}}</p>
                                <span>daviddonegan@gmail.com</span>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <p>{{translation[2]}}</p>
                                <span>0833097183</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- profile end -->
    </div>
</div>

